/************************************************************/
/****************** Fonts, Clears, Etc. *********************/
/************************************************************/
@font-face {
    font-family: 'Ailerons';
    src: url('Ailerons.ttf');
}

h2, h3 {
	font-family: Helvetica;
}

h2 {
	text-transform: uppercase;
	padding: 20px 0px 0px 15px;
	font-family: 'Ailerons';
}

body {
	background-color: #f7f7f7;
}


/************************************************************/
/******************** Menu Navigation ***********************/
/************************************************************/
.tab-bar-section h1 {
	color: white !important;
	text-transform: uppercase;
}

.tab-bar-section.right {
	text-align: right;
}

.tab-bar-section i {
	color: white !important;
}


/************************************************************/
/********************** Splash Screen ***********************/
/************************************************************/
#header {
	position: relative;
	margin: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 16em 0 16em 0;
	height: 87%;
	background-color: black;
	opacity: 0.9;
	}

#header h1 {
	font-size: 5em;
	font-family: "Ailerons";
	text-align: center;
/* 	position: relative;*/
 	margin: 0;
	/*top: 75%;*/
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: white !important;
    z-index: 100;
}

@keyframes headerFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#header img:nth-of-type(1) {
  animation-delay: 12s;
}
#header img:nth-of-type(2) {
  animation-delay: 8s;
}
#header img:nth-of-type(3) {
  animation-delay: 4s;
}
#header img:nth-of-type(4) {
  animation-delay: 0;
}

#header img {
  -webkit-animation-name: headerFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 16s;

  -moz-animation-name: headerFadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 16s;

  -o-animation-name: headerFadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 16s;

  animation-name: headerFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  z-index: -5;
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  height: 100%;
}






/************************************************************/
/******************** Section Navigation ********************/
/************************************************************/
.menu {
	background-color: #333333;
	padding-top: 10px;
}

.menu ul li {
	text-align: center;
}

.menu ul li a {
	color: white !important;
	margin-top: 10px;
	font-family: 'Ailerons';
	font-size: 30px;
}



/************************************************************/
/********************* Inventory Banner *********************/
/************************************************************/
.inventory-banner {
	position: relative;
	margin-top: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 12em 0 12em 0;
	height: 400px;
}

.inventory-banner-shirts {	
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('../images/banner/KD-1.jpg');}

.inventory-banner-bottoms {	
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('../images/banner/KD-2.jpg');}

.inventory-banner-jackets {
	background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
	url('../images/banner/KD-3.jpg');}


.inventory-banner h1 {
	font-size: 6em;
	line-height: 100%;
	font-family: "Ailerons";
	overflow: hidden;
	text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
    color: white !important;
}



/************************************************************/
/************************ Inventory *************************/
/************************************************************/
.item img {
	height: 200px;
	width: 100%;
	margin-bottom: 15px;
}

.item h3, .item h5 {
	text-align: center;
}

.item h3 {
	height: 70px;
	text-transform: uppercase;
	font-size: 18px;
}

.button.success {
	width: 100%;
	position: relative;
	right:    0;
	bottom:   0;
}

.panel {
	margin-top: 10px;
	background: white;
}





/************************************************************/
/************************** Footer **************************/
/************************************************************/
.footer {
	border-top: 1px solid #f0f0f0;
	padding: 10px 0px;
	text-align: center;
}

i {
	color: #333333;
	font-size: 44px;
	margin: 0px 5px;
}